<div id="wrapper" class="active">
      
    

        
    <!-- Page content -->
  <div class="cover">
    <div class="main">
<h1>BETTER BANKING</h1>   
</div>

<div class="secondary">
  <h2>Feeling Lost?Let us help</h2> 
  <h3>08116306440 <span class="submit-text"><i class="glyphicon glyphicon-earphone"></i>Call us</span></h3>
</div>
<br>

<div class="card-deck">
  <div class="card" style="width: 18rem;">
   <div style="background-color:#3A283A;">
    <p style="color:white;"><b>Savings Account</b></p>
    <p style="color:white;"><span>&#8358;</span>500,000</p>
    </div>
    <div class="card-body">
      <h5 class="card-text">Bank Transfer</h5>
      <p>2 days ago</p>
      <br>
      <h5 class="card-text">Jumia</h5>
      <p>4 days ago</p>
      <br>
      <h5 class="card-text">Honda Ng</h5>
      <p>5 days ago</p>
      
      <a href="#" class="btn btn-primary">Account Overview</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
      <div style="background-color:#3A283A;">
       <p style="color:white;"><b>Savings Account</b></p>
       <p style="color:white;"><span>&#8358;</span>800,000</p>
       </div>
       <div class="card-body">
         <h5 class="card-text">Bank Transfer</h5>
         <p>1 days ago</p>
         <br>
         <h5 class="card-text">Interest</h5>
         <p>2 days ago</p>
         <br>
         <h5 class="card-text">Bank Transfer</h5>
         <p>2 days ago</p>
         
         <a href="#" class="btn btn-primary">Account Overview</a>
       </div>
     </div>

     <div class="card" style="width: 18rem;">
        <div style="background-color:#3A283A;">
         <p style="color:white;"><b>Credit Card</b></p>
         <p style="color:white;"><span>&#8358;</span>400,000</p>
         </div>
         <div class="card-body">
           <h5 class="card-text">Shoprite</h5>
           <p>2 days ago</p>
           <br>
           <h5 class="card-text">Paypal</h5>
           <p>4 days ago</p>
           <br>
           <h5 class="card-text">Polo ralph</h5>
           <p>5 days ago</p>
           
           <a href="#" class="btn btn-primary">Account Overview</a>
         </div>
       </div>
</div>

               
<h1>Quick Transfer</h1> 
    <h4>I want to transfer</h4>
    <input placeholder="&#8358;Enter Amount">
    <h4>I want to transfer</h4>
    <input placeholder="&#8358;Enter Amount">
    <h4>I want to transfer</h4>
    <input placeholder="&#8358;Enter Amount">



                  
              

                  

</div>




  